NODE_ENV=development
APP_HOST=localhost
APP_PORT=3001

# DB
POSTGRES_DB=
POSTGRES_PASSWORD=
DATABASE_URL=postgres://postgres:${POSTGRES_PASSWORD}@${APP_HOST}:${DB_PORT}/${POSTGRES_DB}

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

# Cors
ALLOWED_ORIGIN=

RATE_LIMIT_WINDOW_MS=
RATE_LIMIT_MAX=

# Email service
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# Log
LOG_LEVEL=debug